@charset "utf-8";

.advanceContent{padding:20px 16px 16px 16px;border:1px solid #e7e7e9;border-radius: 15px;}
.advanceContent:not(:last-child){margin-bottom:16px}
.advanceContent .titArea{margin-bottom:16px}
.advanceContent .titArea::after{content:"";display:block;clear:both}
.advanceContent .titArea .title{float:left;color:#080808;font-family: PretendardB,sans-serif;font-size:18px;}
.advanceContent .titArea .title>span{display:block;margin-top:4px;color:#555;font-size:15px;font-family: PretendardM,sans-serif;}
.advanceContent .titArea .uniSearchW{float:right;width:396px;}
.advanceContent .titArea .uniSearch{position:relative;width:100%;height:50px;border:2px solid #f65d00;border-radius: 10px;box-sizing: border-box;overflow: hidden;}
.advanceContent .titArea .uniSearch .uniInput{width:100%;height:100%;padding:0 52px 0 16px;color:#939393;font-family: PretendardM,sans-serif;font-size:16px;box-sizing: border-box;}
.advanceContent .titArea .uniSearch .uniInput::placeholder{color:#939393;font-family: PretendardM,sans-serif;font-size:16px}
.advanceContent .titArea .uniSearch .uniBtn{position:absolute;top:0;right:18px;width:30px;height:100%;background:url(../../images/commons/searchBtn1.png) no-repeat center;text-indent: -9999px;}

.advanceContent.searchCondition .advanceCont{padding:20px 28px 0 28px;background:#f8f8f8;border-radius: 15px;}
.advanceContent.searchCondition .advanceCont>ul{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-lines: multiple;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.advanceContent.searchCondition .advanceCont>ul>li{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:620px;margin-bottom:20px}
.advanceContent.searchCondition .advanceCont>ul>li .tit{position:relative;width:90px;color:#0c0c0c;font-size:15px;font-family: PretendardM,sans-serif;letter-spacing: -0.005em;}
.advanceContent.searchCondition .advanceCont>ul>li>div{width:calc(100% - 90px)}
.advanceContent.searchCondition .advanceCont>ul>li>div .fromTo{margin:0 24px;color:#4e4e4e;font-family: PretendardM,sans-serif;font-size:15px;letter-spacing: -0.005em;}
.advanceContent.searchCondition .advanceCont>ul>li>div.typeRadio ul{margin-left:24px;font-size:0}
.advanceContent.searchCondition .advanceCont>ul>li>div.typeRadio ul>li{display:inline-block;margin-bottom:4px}
.advanceContent.searchCondition .advanceCont>ul>li>div.typeRadio ul>li:not(:last-child){margin-right:68px}

.advanceContent.searchCondition .advanceCont>ul>li>div.typeChk ul{font-size:0}
.advanceContent.searchCondition .advanceCont>ul>li>div.typeChk ul>li{display:inline-block;margin-bottom:4px}
.advanceContent.searchCondition .advanceCont>ul>li>div.typeChk ul>li:not(:last-child){margin-right:20px}

/* uniList */
.uniList .tit{margin-bottom:16px;color:#080808;font-family: PretendardB,sans-serif;font-size:18px;}
.uniList>ul{display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-lines: multiple; -ms-flex-wrap: wrap; flex-wrap: wrap;max-height:242px;min-height:61px;padding:16px 8px 6px 8px;border:1px solid #e7e7e9;border-radius: 10px;overflow-y: auto;box-sizing: border-box;}
.uniList>ul.dragPoint{background:#f8f8f8}
.uniList>ul>li{position:relative;margin:0 16px 10px 0;padding: 12px 24px 12px 12px;background:#ddd;border-radius: 40px;}
.uniList>ul>li.on{background:#f65d00}
.uniList>ul>li .itemDel{display:none;position:absolute;top:-2px;right:-4px;width:22px;height:22px;background:url(../../images/commons/listDel1.png);border:none;text-indent: -9999px;}
.uniList>ul.dragPoint>li{padding: 12px 24px;background:#fff;border:1px solid #d9d9d9}
.uniList>ul.dragPoint>li .customChk + label{padding-left:0;color:#000}
.uniList>ul.dragPoint>li .customChk + label::before{display:none}
.uniList>ul.dragPoint>li .itemDel{display:block}

.uniListW .addBtnW{margin:28px 0 4px 0;text-align: center;}
.uniListW .addBtnW>a.addBtn{display:inline-block;height:45px;padding: 0 36px 0 68px;background: url(../../images/commons/moveIco1.png) no-repeat left 42px top 17px #323231;border-radius: 10px;color:#fff;font-family: PretendardM,sans-serif;font-size:18px;line-height: 45px;}

@media screen and (max-width:1430px) {
    .advanceContent.searchCondition .advanceCont>ul>li{width:47%}
}
@media screen and (max-width:1024px) {
    .advanceContent.searchCondition .advanceCont>ul>li>div .fromTo{margin:0 12px}
    .advanceContent.searchCondition .advanceCont>ul>li>div.typeRadio ul>li:not(:last-child){margin-right:32px}
}
@media screen and (max-width:767px) {
    .advanceContent .titArea .title{float:none}
    .advanceContent .titArea .uniSearchW{float:none;width:100%;margin-top:8px}
    .advanceContent.searchCondition .advanceCont{padding:20px 16px 16px 16px}
    .advanceContent.searchCondition .advanceCont>ul>li{width:100%}
    .advanceContent.searchCondition .advanceCont>ul>li:last-child{margin-bottom:0}
    .advanceContent.searchCondition .advanceCont>ul>li>div .fromTo{margin:0 8px}
    .advanceContent.searchCondition .advanceCont>ul>li>div.typeRadio ul{margin-left:0}
    .uniList>ul>li{margin:0 8px 8px 0;padding:12px 20px 12px 16px}
    .uniList>ul>li .customChk + label{padding-left:28px;font-size:14px}
    .uniList>ul.dragPoint>li{padding:12px 20px}
    .uniListW .addBtnW{margin:16px 0}
    .uniListW .addBtnW>a.addBtn{padding:0 32px 0 60px;font-size:16px;background-position:left 32px top 17px}
}
@media screen and (max-width:400px) {
    .advanceContent.searchCondition .advanceCont>ul>li{display:block}
    .advanceContent.searchCondition .advanceCont>ul>li .tit{display:block;width:100%;margin-bottom:8px}
    .advanceContent.searchCondition .advanceCont>ul>li>div{width:100%}
}

/* question 팝업추가 */
.question{display:inline-block}
.question img{vertical-align: -1px;}
.helpPop{display:none;position:absolute;top:24px;left:0;width:300px;padding:10px;border:1px solid #9c9c9c;background-color:#fff;color:#666;font-size:11px;text-align:left;z-index:10;}
.helpPop>span{font-size:13px;line-height: 1.2;}

@media screen and (max-width:767px) {
    .helpPop{width:222px}
}