@charset "utf-8";

.innerContTab{border-bottom:1px solid #e7e7e9}
.innerContTab .inner{overflow: hidden;padding:0 36px}
.innerContTab .tab{display:inline-block;width:auto}
.innerContTab .tab:not(:last-child){margin-right: 20px;}
.innerContTab .tab>a{position:relative;display:block;padding:0 8px 14px 8px;color:#000;font-size:18px;font-family: PretendardM,sans-serif;box-sizing: border-box;text-align: center}
.innerContTab .tab.on>a{color:#f65d00}
.innerContTab .tab.on>a::after{content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:2px;background:#f65d00}

.libInfo{padding:28px 40px 0 40px;}
.libInfo .title{margin-bottom:20px;color:#000;font-size:18px;font-family: PretendardB,sans-serif;letter-spacing: -0.005em;}
.libInfo>ul>li:not(:last-child){margin-bottom:2px}
.libInfo>ul>li::after{content:"";display:block;clear:both}
.libInfo>ul>li .tit{float:left;color:#000;font-size:16px;font-family: PretendardM,sans-serif;letter-spacing: -0.005em;}
.libInfo>ul>li .txt{margin-left:85px;color:#000;font-size:16px;font-family: PretendardM,sans-serif;letter-spacing: -0.005em}

.brfunc{margin-bottom:12px;text-align:right}
.brfunc .buttons-excel{display:inline-block;height:36px;padding:0 10px 0 36px;background:url(../../images/commons/download.png) no-repeat left 10px center #818181;border-radius: 13px;color:#fff;line-height: 36px;font-size:15px;font-family: PretendardM,sans-serif;letter-spacing: -0.025em;box-sizing: border-box;}
.innerContent .textArea{margin-top:20px;font-size:14px;color:#555}

th .question img {vertical-align: -1px;}
span.help{display:block;position:relative;width:auto;}
span.help > span{display:none;position:absolute;top:5px;left:0;width:300px;padding:10px;border:1px solid #9c9c9c;background-color:#fff;color:#666;font-size:11px;text-align:left;z-index:1000}
span.help > span span{display:block}

.chartBoxW{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-bottom:40px}
.chartBoxW.three>div{width:32%}

.chartTabW{padding:20px 0 0 0;border:1px solid #e7e7e9;border-radius: 13px;}
.chartTabCont>div{display:none;padding:20px 36px}
.chartTabCont>div:first-child{display:block}
.chartTabCont>div .noData{color:#555;}
.chartTabCont>div>div:not(:last-child){margin-bottom:20px}

.chartTabCont .indicator{padding:20px 28px 16px 28px;background:#f8f8f8;border-radius: 15px;}
.chartTabCont .indicator .tit{margin-bottom:4px;color:#0c0c0c;font-size:15px;font-family: PretendardM,sans-serif;letter-spacing: -0.005em;}
.chartTabCont .indicator{margin-bottom:12px}
.chartTabCont .indicator>ul{font-size:0}
.chartTabCont .indicator>ul>li{display:inline-block;margin-bottom:4px}
.chartTabCont .indicator>ul>li:not(:last-child){margin-right:20px}

.schSearch{margin:20px 36px 0 36px;padding:20px 28px 0 28px;background:#f8f8f8;border-radius: 15px;}
.schSearch>ul{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-lines: multiple;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.schSearch>ul>li{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:620px;margin-bottom:20px}
.schSearch>ul>li .tit{width:90px;color:#0c0c0c;font-size:15px;font-family: PretendardM,sans-serif;letter-spacing: -0.005em;}
.schSearch>ul>li>div{width:calc(100% - 90px)}
.schSearch>ul>li>div .fromTo{margin:0 24px;color:#4e4e4e;font-family: PretendardM,sans-serif;font-size:15px;letter-spacing: -0.005em;}
.schSearch>ul>li>div.typeRadio ul{margin-left:24px;font-size:0}
.schSearch>ul>li>div.typeRadio ul>li{display:inline-block;margin-bottom:4px}
.schSearch>ul>li>div.typeRadio ul>li:not(:last-child){margin-right:68px}


@media screen and (max-width:767px) {
    .innerContTab .inner{padding: 0 16px}
    .libInfo{padding:20px 16px 0 16px}
    .chartBoxW{display:block}
    .chartBoxW.three>div{width:100%}
    .chartBoxW.three>div:not(:last-child){margin-bottom:20px}

    .chartTabCont>div{padding:12px 16px}
    .chartTabCont .indicator{padding:12px 16px}

    .schSearch{margin:20px 16px 0 16px;padding:20px 16px 16px 16px}
    .schSearch>ul>li{width:100%}
    .schSearch>ul>li:last-child{margin-bottom:0}
    .schSearch>ul>li>div .fromTo{margin:0 8px}
    .schSearch>ul>li>div.typeRadio ul{margin-left:0}
}



















































































































