@charset "utf-8";

html, body{overflow-x: hidden;}

/* 건너뛰기 */
#divAccessibility{position:absolute;left:0;top:0;z-index:130}
#divAccessibility li{float:left}
#divAccessibility a{position:absolute;width:1px;height:1px;top:-50px;overflow:hidden;text-align:center}
#divAccessibility a:focus, #divAccessibility a:active{position:absolute;top:0;width:200px;height:auto;padding:5px;background-color:#fff;border:solid 1px #0079c6;color:#0079c6;z-index:2}

/* 숨김영역 */
.skip{position:absolute;width:1px;height:1px;text-indent:-9999px;overflow:hidden;border:none}

/* point */
.point{color:#ff7200 !important}


/* view */
.block{display:block !important}
.inlineB{display:inline-block !important;}
.hide{display:none;}

/* align */
.fl{float:left !important}
.fr{float:right !important}
.clb{clear:both !important}
.alignC{text-align:center !important}
.alignL{text-align:left !important}
.alignR{text-align:right !important}

/* margin */
.mAuto{margin:0 auto !important}
.mg0{margin:0 !important}
.mt0{margin-top:0px !important}
.mt05{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mr0{margin-right:0px !important}
.mr05{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr30{margin-right:30px !important}
.mr40{margin-right:40px !important}
.mr50{margin-right:50px !important}
.mb0{margin-bottom:0px!important}
.mb05{margin-bottom:05px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}
.mb40{margin-bottom:40px !important}
.mb50{margin-bottom:50px !important}
.ml0{margin-left:0 !important}
.ml05{margin-left:5px !important}
.ml08{margin-left:8px !important}
.ml10{margin-left:10px !important}
.ml12{margin-left:12px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml30{margin-left:30px !important}
.ml40{margin-left:40px !important}
.ml50{margin-left:50px !important}
/* padding */
.pd0{padding:0 !important;}
.pd05{padding:5px !important;}
.pd10{padding:10px !important;}
.pd15{padding:15px !important;}
.pd20{padding:20px !important;}
.pd30{padding:30px !important;}
.pt0{padding-top:0px !important;}
.pt05{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pt50{padding-top:50px !important;}
.pb0{padding-bottom:0px !important;}
.pb05{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb30{padding-bottom:30px !important;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px !important;}
.pl0{padding-left:0px !important;}
.pl05{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl12{padding-left:12px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl30{padding-left:30px !important;}
.pl40{padding-left:40px !important;}
.pl50{padding-left:50px !important;}
.pr0{padding-right:0px !important;}
.pr05{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr30{padding-right:30px !important;}
.pr40{padding-right:40px !important;}
.pr50{padding-right:50px !important;}
/* width */
.w20{width: 20px !important;}
.w30{width: 30px !important;}
.w40{width: 40px !important;}
.w50{width: 50px !important;}
.w60{width: 60px !important;}
.w70{width: 70px !important;}
.w80{width: 80px !important;}
.w90{width: 90px !important;}
.w100{width: 100px !important;}
.w120{width: 120px !important;}
.w150{width: 150px !important;}
.w200{width: 200px !important;}
.w250{width: 250px !important;}
.w300{width: 300px !important;}
.w350{width: 350px !important;}
.w400{width: 400px !important;}
.w450{width: 450px !important;}
.w475{width: 475px !important;}
.w500{width: 500px !important;}
.w550{width: 550px !important;}
.wp100{width: 100% !important;}

@media screen and (max-width:767px){
    .mw100{width:100% !important}    
}

/* blackBg */
.blackBg1{display:none;position:fixed;top:0;right:0;width:100%;height:100%;background:rgba(0,0,0,0.55);z-index: 39;}

/* btnBunchType */
.btnBunchType1{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-top:36px;}
.btnBunchType1>span{display:inline-block;margin:0 4px}

@media screen and (max-width:767px) {
    .btnBunchType1{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .btnBunchType1>span{width:100%}
}

/* btnType */
.btnType1{display:inline-block;min-width:200px;height:45px;padding:0 16px;border:2px solid #323231;background:#fff;color:#323231;font-family: PretendardM,sans-serif;font-size:18px;border-radius: 8px;line-height: 42px;text-align: center;cursor: pointer;box-sizing: border-box;}
.btnType2{display:inline-block;min-width:200px;height:45px;padding:0 16px;background:#323231;color:#fff;font-family: PretendardM,sans-serif;font-size:18px;border-radius: 8px;line-height: 42px;text-align: center;cursor: pointer;box-sizing: border-box;}
.btnType3{display:inline-block;padding:6px 19px;background:#000;color:#fff;font-size:14px;border-radius: 12px;cursor:pointer;}
.btnType4{display:inline-block;height:40px;padding:0 19px;background:#323231;color:#fff;font-size:15px;border-radius: 10px;line-height: 40px;cursor:pointer;}
.btnType5{display:inline-block;height:30px;padding:0 12px;background:#323231;color:#fff;font-size:14px;border-radius: 10px;line-height: 30px;cursor:pointer;}
@media screen and (max-width:767px) {
    .btnType1{width:100%;min-width:0;padding:0 4px;font-size:16px;}
    .btnType2{width:100%;min-width:0;padding:0 4px;font-size:16px;}
}


/* select */
.selType1{width:100%;height:40px;padding:0 28px 0 12px;background:url(../../images/commons/selArrow1.png) no-repeat right 16px center #fff;color:#4e4e4e;border:1px solid #e3e3e3;border-radius: 10px;font-size:15px;font-family: PretendardM,sans-serif;-webkit-appearance: none; -moz-appearance: none; appearance: none;cursor: pointer;}
.selType2{height:36px;padding:0 44px 0 12px;background:url(../../images/commons/selArrow2.png) no-repeat right 12px center #fff;color:#666;border:1px solid #d4d4d4;border-radius: 13px;font-size:15px;font-family: PretendardM,sans-serif;letter-spacing: -0.025em;-webkit-appearance: none; -moz-appearance: none; appearance: none;cursor: pointer;box-sizing: border-box;}


/* customChk */
.customChk{border:0;clip:rect(0 0 0 0);height:1px !important;width:1px !important;margin:-1px !important;overflow:hidden;padding:0;position:absolute !important;} 
.customChk + label{position:relative;display:inline-block;padding: 0 0 0 24px;min-height:20px;color:#000;font-size: 15px;font-family: PretendardSB,sans-serif;line-height:16px;cursor:pointer}
.customChk + label::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1Off.png) no-repeat center;background-color: #fff;border-radius: 100%;}
.customChk:focus + label::before{outline: 2px solid #000;}
.customChk + label.on::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1On.png) no-repeat center;border-radius: 100%;}
.customChk:checked  + label{color:#fff}
.customChk:checked  + label::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1On.png) no-repeat center;border-radius: 100%;}
.customChk:focus + label.on{color:#fff}
.customChk:focus + label.on::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1On.png) no-repeat center;border-radius: 100%;}
.customChk + label.disable::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1Off.png) no-repeat center;border-radius: 100%;}
.customChk:disabled + label::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1Off.png) no-repeat center;border-radius: 100%;}

/* 기본통계 전용 customChk (수정) */
.customChk1{border:0;clip:rect(0 0 0 0);height:1px !important;width:1px !important;margin:-1px !important;overflow:hidden;padding:0;position:absolute !important;} 
.customChk1 + label{position:relative;display:inline-block;padding: 0 0 0 24px;min-height:20px;color:#000;font-size: 15px;font-family: PretendardSB,sans-serif;line-height:16px;cursor:pointer}
.customChk1 + label::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1Off.png) no-repeat center;background-color: #fff;border-radius: 100%;}
.customChk1:focus + label::before{outline: 2px solid #000;}
.customChk1 + label.on::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1On.png) no-repeat center;border-radius: 100%;}
.customChk1:checked  + label{color:#fff}
.customChk1:checked  + label::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1On.png) no-repeat center;border-radius: 100%;}
.customChk1:focus + label.on{color:#fff}
.customChk1:focus + label.on::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1On.png) no-repeat center;border-radius: 100%;}
.customChk1 + label.disable::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1Off.png) no-repeat center;border-radius: 100%;}
.customChk1:disabled + label::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1Off.png) no-repeat center;border-radius: 100%;}

.customChk1.type1 + label{color:#4e4e4e;line-height: 18px;}
.customChk1.type1 + label::before{width:18px;height:18px;background:url(../../images/commons/chk1.png) no-repeat center;border-radius: 0;}
.customChk1.type1 + label.on::before{width:18px;height:18px;background:url(../../images/commons/chk1On.png) no-repeat center;border-radius: 0;}
.customChk1.type1:checked  + label{color:#4e4e4e}
.customChk1.type1:focus + label.on{color:#4e4e4e}
.customChk1.type1:focus + label.on::before{width:18px;height:18px;background:url(../../images/commons/chk1On.png) no-repeat center;border-radius: 0;}
.customChk1.type1 + label::before{width:18px;height:18px;background:url(../../images/commons/chk1.png) no-repeat center;border-radius: 0;}
.customChk1.type1:disabled + label.disable::before{width:18px;height:18px;background:url(../../images/commons/chk1.png) no-repeat center;border-radius: 0;}


.customChk2{border:0;clip:rect(0 0 0 0);height:1px !important;width:1px !important;margin:-1px !important;overflow:hidden;padding:0;position:absolute !important;} 
.customChk2 + label{position:relative;display:inline-block;padding:0 0 0 24px;min-height:20px;color:#000;font-size: 15px;font-family: PretendardSB,sans-serif;line-height:16px;cursor:pointer}
.customChk2 + label::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1Off.png) no-repeat center;background-color: #fff;border-radius: 100%;}
.customChk2:focus + label::before{outline: 2px solid #000;}
.customChk2 + label.on::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1On.png) no-repeat center;border-radius: 100%;}
.customChk2:focus + label.on{color:#fff}
.customChk2:focus + label.on::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1On.png) no-repeat center;border-radius: 100%;}
.customChk2 + label.disable::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1Off.png) no-repeat center;border-radius: 100%;}
.customChk2:disabled + label::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1Off.png) no-repeat center;border-radius: 100%;}
#sortItem1 .customChk2.on  + label{color:#fff}
#sortItem1 .customChk2.on  + label::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;background:url(../../images/commons/customChk1On.png) no-repeat center;border-radius: 100%;}
#sortItem2 li{padding:15px 28px;background:#fff;border:1px solid #d9d9d9}
#sortItem2 li .customChk2 + label{padding-left:0;color:#000}
#sortItem2 li .customChk2 + label::before{display:none}
#sortItem2 li .itemDel{display:block}

/* type1 */
.customChk.type1 + label{color:#4e4e4e;line-height: 18px;}
.customChk.type1 + label::before{width:18px;height:18px;background:url(../../images/commons/chk1.png) no-repeat center;border-radius: 0;}
.customChk.type1 + label.on::before{width:18px;height:18px;background:url(../../images/commons/chk1On.png) no-repeat center;border-radius: 0;}
.customChk.type1:checked  + label{color:#4e4e4e}
.customChk.type1:focus + label.on{color:#4e4e4e}
.customChk.type1:focus + label.on::before{width:18px;height:18px;background:url(../../images/commons/chk1On.png) no-repeat center;border-radius: 0;}
.customChk.type1 + label::before{width:18px;height:18px;background:url(../../images/commons/chk1.png) no-repeat center;border-radius: 0;}
.customChk.type1:disabled + label.disable::before{width:18px;height:18px;background:url(../../images/commons/chk1.png) no-repeat center;border-radius: 0;}

/* customRadio */
.customRadio + label{display:inline-block;line-height:0;vertical-align:middle}
.customRadio{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.customRadio + label{position:relative;display:inline-block;padding:0 0 0 32px;min-height:20px;line-height:20px;;cursor:pointer;color:#4e4e4e;font-size:15px;font-family: PretendardM,sans-serif;letter-spacing: -0.005em;}
.customRadio + label::before{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;border:2px solid #9d9d9d;border-radius: 100%;}
.customRadio:focus + label::before{outline:2px solid #000}
.customRadio.on + label::before{border:2px solid #f65d00}
.customRadio.on + label::after{content:"";display:block;position:absolute;top:5px;left:5px;width:10px;height:10px;background:#f65d00;border-radius: 100%;}
.customRadio:checked + label::before{border:2px solid #f65d00}
.customRadio:checked + label::after{content:"";display:block;position:absolute;top:5px;left:5px;width:10px;height:10px;background:#f65d00;border-radius: 100%;}
.customRadio:focus + label.on::before{outline:2px solid #000}
.customRadio:disabled + label::before{border:1px solid #000}
.customRadio:disabled + label::after{content:"";display:block;position:absolute;top:5px;left:5px;width:8px;height:8px;background:#000;border-radius: 100%;}
.customRadio:disabled + label.disableOn::before{border:1px solid #000}
.customRadio:disabled + label.disableOn::after{content:"";display:block;position:absolute;top:5px;left:5px;width:8px;height:8px;background:#000;border-radius: 100%;}


/* inputType */
.inputType1{height:28px;padding:0 12px;border:1px solid #c4c4c4;color:#6f6f6f;border-radius: 10px;width:100%;box-sizing: border-box;font-size:1rem}
.inputType2{height:40px;padding:0 12px;border:1px solid #e3e3e3;color:#4e4e4e;border-radius: 10px;width:100%;box-sizing: border-box;font-size:1rem}
.inputTypeDate{width: 118px; padding: 0 35px 0 12px; border: 1px solid #e3e3e3; height: 40px; background: #fff url(../../images/commons/datepickerIcon.png) no-repeat right 15px center; border-radius: 10px;box-sizing: border-box;}


/* textarea */
.ttArea{width:100%;height:120px;padding:12px;border:1px solid #e3e3e3;border-radius: 10px;resize: none;box-sizing: border-box;}


/* flexOpt */
.flexOpt1{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}


/* 일반 페이징
마크업
<div class="paging">
    <a href="" class="page"><img src="images/commons/firstPage.png" alt="맨앞"></a>
    <a href="" class="page"><img src="images/commons/prevPage.png" alt="이전페이지로"></a>
    <span>
        <span>1</span>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
    </span>
    <a href="" class="page"><img src="images/commons/nextPage.png" alt="다음페이지로"></a>
    <a href="" class="page"><img src="images/commons/lastPage.png" alt="맨뒤"></a>
</div>

*/
.paging{margin:70px 0 0;text-align:center}
.paging > .page {display:inline-block;margin:0 12px}
.paging > span {margin:0 11px;}
.paging > span span{display: inline-block;width: 26px;height: 26px;color: #fff;background: #f65d00;border-radius: 10px;box-sizing: border-box;line-height: 26px;}
.paging > span a{display: inline-block; width: 26px; height: 26px; color:#989898;line-height: 26px;}
.paging > span * {margin: 0 9px}
@media screen and (max-width:767px){
    .paging > .page {margin:0 4px}
    .paging > span {margin:0}
    .paging > span * {margin: 0 3px;}
}

/* commonTable */
.commonTable.type1{border-top:2px solid #727272}
.commonTable.type1 thead th{padding:14px 0;background:#fafafa;color:#000;border:1px solid #ebebeb;border-top:none;font-size:15px;font-family: PretendardSB,sans-serif;text-align: center !important;}
.commonTable.type1 thead th:first-child{border-left:none;}
.commonTable.type1 thead th:last-child{border-right:none;}

.commonTable.type1 tbody th{position:relative;padding:14px 8px;background:#fafafa;color:#000;border:1px solid #ebebeb;border-left:none;border-top:none;z-index:1;}
.commonTable.type1 tbody td{position:relative;padding:14px 8px;color:#666;border:1px solid #ebebeb;border-top:none;background:#fff;z-index:1;text-align: center;}
.commonTable.type1 tbody td.alignL{padding:14px 16px}
.commonTable.type1.noBorder tbody td.alignL{padding:14px 8px}
.commonTable.type1 tbody td:first-child{border-left:none;}
.commonTable.type1 tbody td:last-child{border-right:none;}
.commonTable.type1 tbody .check th{background:#fcf9ce;}
.commonTable.type1 tbody .check td{background:#fcf9ce}
.commonTable.type1 tfoot th{padding:14px 8px;background:#fafafa;color:#000;border:1px solid #ebebeb;border-left:none;border-top:none;z-index:1;}
.commonTable.type1 tfoot td{padding:14px 8px;color:#666;border:1px solid #ebebeb;border-top:none;background:#fff;z-index:1;text-align: center;}
.commonTable.type1 tfoot td:first-child{border-left:none;}
.commonTable.type1 tfoot td:last-child{border-right:none;}
.commonTable.noBorder thead th{border-right:none;border-left:none}
.commonTable.noBorder tbody th{border-right:none;border-left:none}
.commonTable.noBorder tbody td{border-right:none;border-left:none}

.commonTable .bg td{background-color:#fffeea !important;}
.commonTable .btns a{margin:2px 0}

@media screen and (max-width:767px) {
    .commonTable.type1{overflow: auto;}
    .commonTable.type1 table{width:768px}
    .commonTable.type1 table.mobileTable{width:100%}

}

/* datatable 커스텀 */
/* .wide-tooltip {position: absolute;z-index: 9999;border-radius: 100%;background-color: #fff;padding: 4px;font-size: 12px;width: 80px;height:80px;display:flex;align-items: center;justify-content: center;box-sizing: border-box;white-space: normal;box-shadow: 0px 0px 8px rgba(0,0,0,0.2);}
.wide-tooltip::after{content:"";display:block;position:absolute; bottom:-10px;left:50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);border-top:10px solid #fff;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 0px solid transparent;box-shadow: 0px 0px 8px rgba(0,0,0,0.2);}
.wide-tooltip .txt{font-size:14px;color:#000;font-family: Pretendard,sans-serif;} */

/* 상단기능 커스텀 */
.dataTables_filter input{width:100%;height:36px;padding-left:12px;border-radius:10px;border:1px solid #d4d4d4;color:#949494;font-size:15px;box-sizing:border-box;}
.dataTables_filter input::placeholder{color:#949494;font-size:15px;}

/* 테이블 커스텀 */
.bt{border-top:2px solid #727272}
.plugTable{table-layout: fixed;border-collapse: separate;text-align: center;}
.plugTable thead th{position:relative;word-break: keep-all;white-space:nowrap;}
.plugTable.type1 thead th{padding:14px 12px;background:#fafafa;color:#000;border:1px solid #ebebeb;border-top:none;border-left:none;font-size:15px;font-family: PretendardSB,sans-serif;text-align: center !important;}
.plugTable.type1.complexHeader thead th{padding:14px 12px}
.plugTable.type1 thead th:first-child{border-left:none;}
.plugTable.type1 thead th:last-child{border-right:none;}

.plugTable.type1 tbody td{position:relative;padding:14px 12px;color:#666;border:1px solid #ebebeb;border-top:none;border-left:none;background:#fff;z-index:1;word-break: keep-all;white-space:nowrap;}
.plugTable.type1 tbody th{position:relative;padding:14px 12px;background:#fafafa;color:#666;border:1px solid #ebebeb;border-top:none;border-left:none;z-index:1;word-break: keep-all;white-space:nowrap;}
.plugTable.type1 tbody td:first-child{border-left:none;}
.plugTable.type1 tbody td:last-child{border-right:none;}

.cellToggle {width:15px !important;padding:0 !important;border-right:none !important;box-sizing: border-box;}
.plugTable td.dt-control{color:#ddd}
.plugTable td.dt-control:before {content:"\2b";color:#ccc;font-size:20px;vertical-align: 4px;}
.plugTable tr.dt-hasChild td.dt-control:before{content:"\2212";color:#ccc; font-size:20px;vertical-align: 4px;}

.innerTable {width:100%;padding-left:16px;box-sizing: border-box;}
.plugTable.type1 tbody td .innerTable tbody td {border:none;padding:8px 0;}
.plugTable.type1 tbody td .innerTable tbody td.title{width:80px;color:#000;}


/* 페이징 */
.dataTables_paginate{margin-top:40px;text-align: center;}
.paginate_button.previous{display:inline-block;width:8px;height:12px;margin:0 12px;background:url(../../images/commons/prevPage.png) no-repeat;text-indent: -9999px;vertical-align: sub;cursor:pointer;}
.paginate_button.next{display:inline-block;width:8px;height:12px;margin:0 12px;background:url(../../images/commons/nextPage.png) no-repeat;text-indent: -9999px;vertical-align: sub;cursor:pointer;}
.dataTables_paginate>span{display:inline-block;margin:0 11px;}
.dataTables_paginate>span>a{display: inline-block;width: 26px;height: 26px;color:#989898;line-height: 26px;margin:0 9px;cursor:pointer;}
.dataTables_paginate>span>a.current{border-radius: 10px;background:#f65d00;color:#fff;}

/* 팝업 */
.dt-button-info{position:fixed;top:50%;left:50%;transform: translate(-50%,-50%);width:400px;height:300px;background:#fff;border-radius: 20px;box-shadow: 0 4px 8px rgba(0,0,0,0.2);overflow: hidden;}
.dt-button-info h2{background:#ddd;padding:20px;font-size:18px;font-weight: 800;box-sizing: border-box;}
.dt-button-info>div{padding:20px;font-size:15px}

.dataTables_scrollHeadInner{width:100% !important}
.dataTables_scrollHead .plugTable  thead>tr>th.sorting:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc_disabled:after,.noYScroll .plugTable  thead>tr>th.sorting:before, .noYScroll .plugTable  thead>tr>th.sorting:after, .noYScroll .plugTable  thead>tr>th.sorting_asc:before, .noYScroll .plugTable  thead>tr>th.sorting_asc:after, .noYScroll .plugTable  thead>tr>th.sorting_desc:before, .noYScroll .plugTable  thead>tr>th.sorting_desc:after, .noYScroll .plugTable  thead>tr>th.sorting_asc_disabled:before, .noYScroll .plugTable  thead>tr>th.sorting_asc_disabled:after, .noYScroll .plugTable  thead>tr>th.sorting_desc_disabled:before, .noYScroll .plugTable  thead>tr>th.sorting_desc_disabled:after, .noYScroll .plugTable  thead>tr>td.sorting:before, .noYScroll .plugTable  thead>tr>td.sorting:after, .noYScroll .plugTable  thead>tr>td.sorting_asc:before, .noYScroll .plugTable  thead>tr>td.sorting_asc:after, .noYScroll .plugTable  thead>tr>td.sorting_desc:before, .noYScroll .plugTable  thead>tr>td.sorting_desc:after, .noYScroll .plugTable  thead>tr>td.sorting_asc_disabled:before, .noYScroll .plugTable  thead>tr>td.sorting_asc_disabled:after, .noYScroll .plugTable  thead>tr>td.sorting_desc_disabled:before, .noYScroll .plugTable  thead>tr>td.sorting_desc_disabled:after, .plugTable.complexHeader  thead>tr>th.sorting:before, .plugTable.complexHeader  thead>tr>th.sorting:after, .plugTable.complexHeader  thead>tr>th.sorting_asc:before, .plugTable.complexHeader  thead>tr>th.sorting_asc:after, .plugTable.complexHeader  thead>tr>th.sorting_desc:before, .plugTable.complexHeader  thead>tr>th.sorting_desc:after, .plugTable.complexHeader  thead>tr>th.sorting_asc_disabled:before, .plugTable.complexHeader  thead>tr>th.sorting_asc_disabled:after, .plugTable.complexHeader  thead>tr>th.sorting_desc_disabled:before, .plugTable.complexHeader  thead>tr>th.sorting_desc_disabled:after, .plugTable.complexHeader  thead>tr>td.sorting:before, .plugTable.complexHeader  thead>tr>td.sorting:after, .plugTable.complexHeader  thead>tr>td.sorting_asc:before, .plugTable.complexHeader  thead>tr>td.sorting_asc:after, .plugTable.complexHeader  thead>tr>td.sorting_desc:before, .plugTable.complexHeader  thead>tr>td.sorting_desc:after, .plugTable.complexHeader  thead>tr>td.sorting_asc_disabled:before, .plugTable.complexHeader  thead>tr>td.sorting_asc_disabled:after, .plugTable.complexHeader  thead>tr>td.sorting_desc_disabled:before, .plugTable.complexHeader  thead>tr>td.sorting_desc_disabled:after{position:absolute;display:block;opacity:0.125;right:2px;line-height:9px;font-size:.9em}

.dataTables_scrollHead .plugTable  thead>tr>th.sorting:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc_disabled:before,.noYScroll .plugTable  thead>tr>th.sorting:before, .noYScroll .plugTable  thead>tr>th.sorting_asc:before, .noYScroll .plugTable  thead>tr>th.sorting_desc:before, .noYScroll .plugTable  thead>tr>th.sorting_asc_disabled:before, .noYScroll .plugTable  thead>tr>th.sorting_desc_disabled:before, .noYScroll .plugTable  thead>tr>td.sorting:before, .noYScroll .plugTable  thead>tr>td.sorting_asc:before, .noYScroll .plugTable  thead>tr>td.sorting_desc:before, .noYScroll .plugTable  thead>tr>td.sorting_asc_disabled:before, .noYScroll .plugTable  thead>tr>td.sorting_desc_disabled:before,.plugTable.complexHeader  thead>tr>th.sorting:before, .plugTable.complexHeader  thead>tr>th.sorting_asc:before, .plugTable.complexHeader  thead>tr>th.sorting_desc:before, .plugTable.complexHeader  thead>tr>th.sorting_asc_disabled:before, .plugTable.complexHeader  thead>tr>th.sorting_desc_disabled:before, .plugTable.complexHeader  thead>tr>td.sorting:before, .plugTable.complexHeader  thead>tr>td.sorting_asc:before, .plugTable.complexHeader  thead>tr>td.sorting_desc:before, .plugTable.complexHeader  thead>tr>td.sorting_asc_disabled:before, .plugTable.complexHeader  thead>tr>td.sorting_desc_disabled:before{bottom:50%;content:"▴"}

.dataTables_scrollHead .plugTable  thead>tr>th.sorting:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc_disabled:after,.noYScroll .plugTable  thead>tr>th.sorting:after, .noYScroll .plugTable  thead>tr>th.sorting_asc:after, .noYScroll .plugTable  thead>tr>th.sorting_desc:after, .noYScroll .plugTable  thead>tr>th.sorting_asc_disabled:after, .noYScroll .plugTable  thead>tr>th.sorting_desc_disabled:after, .noYScroll .plugTable  thead>tr>td.sorting:after, .noYScroll .plugTable  thead>tr>td.sorting_asc:after, .noYScroll .plugTable  thead>tr>td.sorting_desc:after, .noYScroll .plugTable  thead>tr>td.sorting_asc_disabled:after, .noYScroll .plugTable  thead>tr>td.sorting_desc_disabled:after, .plugTable.complexHeader  thead>tr>th.sorting:after, .plugTable.complexHeader  thead>tr>th.sorting_asc:after, .plugTable.complexHeader  thead>tr>th.sorting_desc:after, .plugTable.complexHeader  thead>tr>th.sorting_asc_disabled:after, .plugTable.complexHeader  thead>tr>th.sorting_desc_disabled:after, .plugTable.complexHeader  thead>tr>td.sorting:after, .plugTable.complexHeader  thead>tr>td.sorting_asc:after, .plugTable.complexHeader  thead>tr>td.sorting_desc:after, .plugTable.complexHeader  thead>tr>td.sorting_asc_disabled:after, .plugTable.complexHeader  thead>tr>td.sorting_desc_disabled:after{top:50%;content:"▾"}

.dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc:after,.noYScroll .plugTable  thead>tr>th.sorting_asc:before, .noYScroll .plugTable  thead>tr>th.sorting_desc:after, .noYScroll .plugTable  thead>tr>td.sorting_asc:before, .noYScroll .plugTable  thead>tr>td.sorting_desc:after,.plugTable.complexHeader  thead>tr>th.sorting_asc:before, .plugTable.complexHeader  thead>tr>th.sorting_desc:after, .plugTable.complexHeader  thead>tr>td.sorting_asc:before, .plugTable.complexHeader  thead>tr>td.sorting_desc:after{opacity:.6;}

th.dtfc-fixed-left{z-index:10 !important;}
td.dtfc-fixed-left{z-index:10 !important;}
.dataTables_scrollBody{padding-bottom:20px}
.dataTables_scrollBody th{overflow: hidden;}


.dataTables_scrollBody::-webkit-scrollbar {height:10px;width:10px}
.dataTables_scrollBody::-webkit-scrollbar-thumb {background:#c6c6c6;border-radius: 5px;}
.dataTables_scrollBody::-webkit-scrollbar-track {background:transparent;}

/* 하이차트 */
.highcharts-title{font-family: PretendardM,sans-serif;font-size:15px}
.highcharts-button path{display:none}
.highcharts-button rect{width:114px;height:36px;rx:13px;ry:13px;fill:#818181 !important;stroke: none !important;cursor:pointer;}
.highcharts-button image{transform: none;x:10;y:9}
.highcharts-button text{transform: translate(4px, 6px);}
.highcharts-button tspan{fill:#fff !important;font-family: PretendardM,sans-serif;font-size:15px}
.highcharts-contextmenu>div{padding:0 !important}
.highcharts-contextmenu>div>div{padding:5px 10px !important;font-size:12px !important}

/* 가이드 페이지 공통양식 */
.innerContent:not(:last-child){margin-bottom:40px}
.innerContent>.tit{margin:0 0 24px 0;color:#1c1314;font-family: PretendardB,sans-serif;font-size:18px;letter-spacing: -0.005em;}
.innerCont{padding:20px 0 32px 0;border:1px solid #e7e7e9;border-radius: 13px;}

@media screen and (max-width:767px) {
    .innerCont{padding-bottom:20px}
}
.mailGo{color:#f65d00;text-decoration: underline;}

/* mobileTable */
.commonTable .mobileTable > tbody > tr > td.footable-cell-detail {padding:16px 0}
.commonTable .footable-row-detail-inner > div > strong {min-width:70px}
.commonTable .mobileTable.breakpoint > tbody > tr > td.expand {text-align:left}
.commonTable .footable-row-detail-inner > div{margin:8px 10px 0px;text-align: left;}
.commonTable .footable-row-detail-inner > div:first-child{margin-top:0}
.commonTable .footable-row-detail-inner > div > strong{margin-bottom:2px; font-family:PretendardM,sans-serif; color: #000;}

@media screen and (max-width:767px) {
    .mobileTable.breakpoint > tbody > tr > td.footable-last-column {
        padding:14px 26px 14px 10px;
        background:url(../../images/commons/tableOn.png) no-repeat 97% 50%;
    }
    .mobileTable.breakpoint > tbody > tr.footable-row-detail > td.footable-last-column {background:none}
    .mobileTable.breakpoint > tbody > tr.footable-detail-show > td.footable-last-column {
        background:url(../../images/commons/tableOff.png) no-repeat 97% 50%;
    }
}

/* 로딩 추가 */
.loadingW{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;z-index:10;}
.loading {position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);width: 80px;height: 80px;}
.loadingW.off {display:none}
.loading span {display:block;animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;-webkit-animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;-moz-animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;transform-origin: 40px 40px;}
.loading span:after {content:'';display: block;position: absolute;width: 7px;height: 7px;border-radius: 50%;background: #333;margin: -4px 0 0 -4px;}
.loading span:nth-child(1) {animation-delay: -0.036s;}
.loading span:nth-child(1):after {top: 63px;left: 63px;}
.loading span:nth-child(2) {animation-delay: -0.072s;}
.loading span:nth-child(2):after {top: 68px;left: 56px;}
.loading span:nth-child(3) {animation-delay: -0.108s;}
.loading span:nth-child(3):after {top: 71px;left: 48px;}
.loading span:nth-child(4) {animation-delay: -0.144s;}
.loading span:nth-child(4):after {top: 72px;left: 40px;}
.loading span:nth-child(5) {animation-delay: -0.18s;}
.loading span:nth-child(5):after {top: 71px;left: 32px;}
.loading span:nth-child(6) {animation-delay: -0.216s;}
.loading span:nth-child(6):after {top: 68px;left: 24px;}
.loading span:nth-child(7) {animation-delay: -0.252s;}
.loading span:nth-child(7):after {top: 63px;left: 17px;}
.loading span:nth-child(8) {animation-delay: -0.288s;}
.loading span:nth-child(8):after {top: 56px;left: 12px;}
@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@-webkit-keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@-moz-keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
