@charset "utf-8";

.listFunction{padding:16px 28px 16px 28px;background:#f8f8f8;border-radius: 15px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center;margin-bottom:24px}
.listFunction span.bunch{display:inline-block;margin:4px 6px}
.listFunction span.bunch input, .listFunction span.bunch select{margin: 0 3px;}

.listToal{margin-bottom:8px}
.listToal p{color:#2c2c2c;font-size:16px;font-family: PretendardSB,sans-serif;}
.listToal p .cnt{font-size:16px;font-family: PretendardSB,sans-serif}

.listTable .commonTable.type1 tbody td.title{padding-left:28px;text-align:left}
.listTable .always{background:#5ed1c8;color:#fff;border-radius: 5px;padding:4px 8px;font-size:14px;}

@media screen and (max-width:767px){
    /* Search Area */
    .listFunction{display:block;padding:12px}
    .listFunction span.bunch{width: 100%; margin: 12px 0 0 0;}
    .listFunction span.bunch{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center; align-items: center;}
    .listFunction span.bunch select,  .listFunction span.bunch input{width: 100% !important; margin: 0 4px !important;box-sizing:border-box;}
    .listFunction  .btnType4{width:100%;margin:12px 3px 0 3px}
    
}