@charset "utf-8";

/* 팝업공통 */
.divLayerPop{display:none;position:fixed;top:50%;left:50%;transform: translate(-50%, -50%);min-width:612px;z-index:40;box-shadow: -4px 3px 16px 0px rgba(0, 0, 0, 0.2);}
.divLayerPop .popTitArea{background:#f65d00;border-radius:10px 10px 0 0;padding:32px 12px}
.divLayerPop .popTitArea .tit{color:#fff;font-family: PretendardB,sans-serif;font-size:20px;text-align: center;}
.divLayerPop .popContent{background:#fff;border-radius: 0 0 10px 10px;padding:44px 28px;max-height:70vh;overflow-y:auto;box-sizing: border-box;}
.divLayerPopClose{display:block;position:absolute;top:-40px;left:50%;transform: translateX(-50%);width:24px;height:24px;background:url(../../images/commons/popClose.png) no-repeat;text-indent: -9999px;}

@media screen and (max-width:767px) {
    .divLayerPop{min-width:0;width:98%}
    .divLayerPop .popContent{max-height:50vh}
}

/* 기관검색 */
.divLayerPop .popContent .scList{margin-top:12px;max-height:360px;overflow: auto;}
.divLayerPop .popContent .scList>li:not(:last-child){margin-bottom:4px}
.divLayerPop .popContent .scList>li>a{color:#333;font-family: PretendardM,sans-serif;}
@media screen and (max-width:767px) {
    .divLayerPop .popContent .scList{max-height:340px}
}

/* 검색명 수정 */
.divLayerPop .popContent .editArea .inputType2{width:calc(100% - 72px);margin-right:4px}