@charset "utf-8";

/* header */
#header{position:fixed;top:0;left:0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:100%;height:103px;padding:0 48px 0 20px;background:#f65d00;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);box-sizing: border-box;transition:height .3s;z-index:30;}

#header #divTopMenu{width:650px;margin-right:115px}
#divTopMenu>ul{font-size:0}
#divTopMenu>ul>li{display:inline-block;width:25%;margin-top:4px;text-align: center;}
#divTopMenu>ul>li>a{display:inline-block;color:#fff;font-size:21px;font-family: PretendardB,sans-serif;letter-spacing: -0.005em;}
#divTopMenu>ul>li .depth2{display:none;position:absolute;top:103px;left:0;width:100%;height:80px;background:#fff;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);transition:top .3s}
#divTopMenu>ul>li .depth2>ul{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:1406px;height:80px;margin:0 auto;text-align: center;font-size:0}
#divTopMenu>ul>li .depth2>ul>li{display:inline-block}
#divTopMenu>ul>li .depth2>ul>li:not(:last-child){margin-right:60px}
#divTopMenu>ul>li .depth2>ul>li>a{display:inline-block;color:#333;font-size:18px;font-family: PretendardB,sans-serif;letter-spacing: -0.005em;}
#divTopMenu>ul>li .depth2>ul>li.on>a{padding:11px 32px;background:#fff;color:#000;border-radius: 15px;}
/* #divTopMenu>ul>li .depth2.on{display:block} */
.headerLogBtn{display:inline-block;padding:11px 40px;background:#fff;color:#474747;border-radius: 20px;font-size:15px;font-family: PretendardEB,sans-serif;}
#header .wholeMenuBtn{display:none}

.wholeMenu{display:none}


/* fix */
#divContent{margin-top:103px;transition:.3s}
@media screen and (min-width:1025px){
  #header.fix{height:75px}
  #header.fix #divTopMenu>ul>li .depth2{top:75px}
  #divContent.up{margin-top:75px}
}
@media screen and (min-width:1025px) and (max-width:1600px){
  #header #divTopMenu{margin-right:3%}
}
@media screen and (min-width:1025px) and (max-width:1430px){
  #header #divTopMenu{width:calc(100% - 450px);margin-right:0}
  #divTopMenu>ul>li .depth2>ul{width:100%;padding:0 20px;box-sizing: border-box;}
}
@media screen and (max-width:1024px){
  #header{height:72px;padding:0 24px}
  #divTopMenu{display:none}
  .headerLogBtn{display:none}
  #divContents{padding-top:12px}
  #header.fix{height:68px}
  #divContent{margin-top:68px}

  #header .wholeMenuBtn{display:block;width:26px;height:26px;background:url(../../images/commons/wholeMenuBtnW.png) no-repeat;background-size:26px auto}

  /* wholeMenu */
  .wholeMenu{display:block;position:fixed;top:0;left:-100%;width:100%;height:100%;padding:0;background:#fff;z-index: 40;overflow-y: auto;box-sizing: border-box;opacity: 0;transition:left .3s;}
  .wholeMenu.on{left: 0;opacity: 1;}


  .wholeMenuTop{background:#f65d00;padding:12px 24px 20px 24px;}
  .wholeBtns{text-align: right;}
  .wholeBtns .setting{display:inline-block;width:24px;height:24px;background:url(../../images/commons/wholeSet.png) no-repeat;background-size:24px 24px;text-indent: -9999px;;vertical-align: top}
  .wholeBtns .wholeMenuClose{display:inline-block;width:20px;height:24px;margin-left:24px;background:url(../../images/commons/wholeClose.png) no-repeat center top 2px;background-size:20px 20px;text-indent: -9999px;vertical-align: top;}

  .wholeMenuTop .loginW{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-top:4px}
  .wholeMenuTop .loginW .wholeLogo{width:calc(100% - 100px)}
  .wholeMenuTop .loginW .wholeLogo img{display:block;max-width:274px;width:100%;height:auto}
  .wholeMenuTop .loginW .loginBtns{margin-top:4px}
  .wholeMenuTop .loginW .loginBtns a{display:inline-block;padding:3px 15px;background:#fff;color:#474747;border-radius: 15px;font-family: PretendardM,sans-serif;font-size:1rem}
  .wholeMenuCont{background:#f5f6f8;padding:16px 12px 32px 12px}
  .wholeMenuCont .wholeMenuNav .tab{width:auto}
  .wholeMenuNav{background:#f5f6f8}
  .wholeMenuNav .inner{overflow: hidden;}
  .wholeMenuNav .tab:not(:last-child){margin-right:8px}
  .wholeMenuNav .tab a{display:block;padding:8px 14px;background:#d4dbe1;color:#000;border-radius: 20px;font-size:1.142rem;font-family: PretendardM,sans-serif;letter-spacing: -0.025em;}
  .wholeMenuNav .tab.on a{background:#080808;color:#fff}
  .wholeMenuNav .tab.strong a{background:#d4dbe1 !important;color:#000}
  .wholeMenuList{margin-top:44px;padding:0 12px}
  .wholeMenuList>ul>li>a{display:block;padding-bottom:12px;border-bottom:1px solid #d5d5d7;color:#080808;font-family: PretendardB,sans-serif;font-size:1.285rem}
  .wholeMenuList>ul>li:not(:last-child){margin-bottom:44px}

  .wholeMenuList>ul>li>ul{margin:16px 20px 0 12px}
  .wholeMenuList>ul>li>ul>li:not(:last-child){margin-bottom:12px}
  .wholeMenuList>ul>li>ul>li>a{display:block;background:url(../../images/commons/wholeArrow.png) no-repeat right center;background-size:10px 19px;color:#080808;font-size:1.142rem;font-family: PretendardM,sans-serif;}

  .wholeMenuNav.fix {position: fixed;top:0;left:0;width:100%;box-sizing: border-box;padding:12px 28px 12px 12px;box-shadow: 0 4px 8px rgba(0,0,0,0.1);}
  .wholeMenuList.on {margin-top:85px}
  .fixEdit {margin-top:-63px;padding-top:63px}


}
@media screen and (max-width:767px){
  #header{padding:0 8px}
  #header .logo img{width:230px;height:auto}
  #header.fix{height:60px}
  #divContent{margin-top:70px}

  .wholeMenuTop{padding:12px 8px 20px 8px;}
  .wholeMenuCont{padding:16px 8px 32px 8px}
}


/* divContent */
.contentsW1{position:relative;background:#f8f7f8;padding:72px 0 56px 0;z-index:1;}

/* statArea" */
.statArea{width:1406px;margin:0 auto;}
.statArea .tit{margin-bottom:34px;font-size:43px;font-family: NanumSquareNeoH,sans-serif;text-align: center;}
.statArea .tit>span{display:block;margin-bottom:6px;font-size:18px;font-family: NanumSquareNeo,sans-serif}

@media screen and (max-width:767px){
  .statArea .tit{margin-bottom:24px;font-size:32px}
  .statArea .tit>span{margin-bottom:4px;font-size:15px}
}


/* chart */
.chartCont{padding:40px 68px 32px 68px;background:#fff;border-radius: 20px;}
.chartTab{margin-bottom:48px}
.chartTab .inner{overflow: hidden;}
.chartTab .inner.swiper-container-initialized{overflow: hidden}
.chartTab .inner .swiper-wrapper{-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center}
.chartTab.add .inner .swiper-wrapper{justify-content: unset}
.chartTab .tab{display:inline-block;width:auto}
.chartTab .tab:not(:last-child){margin-right: 20px;}
.chartTab .tab>a{position:relative;display:block;padding:0 18px;min-width:158px;height:50px;background:#fff;border:1px solid #bebebe;border-radius: 30px;color:#000;font-size:18px;line-height: 48px;font-family: PretendardSB,sans-serif;box-sizing: border-box;text-align: center;}
.chartTab .tab.on>a{color:#fff;background:#474747;border:1px solid #474747;font-family: PretendardSB,sans-serif;box-shadow: none;}

.chartContent{display:none}
.chartContent.on{display:block}
.chartContent .chartTit{margin-bottom:40px;color:#000;font-size:21px;font-family: PretendardB,sans-serif;}
.chartContent .chartBox{height:310px;margin-bottom:10px}

/* dataSlide */
.dataSlide{position:relative}
.dataSlide .inner{padding:36px 0 88px 0;margin:0 120px;overflow: hidden;}
.dataSlide .data{width:auto;text-align: center;}
.dataSlide .data.left{left:64px;}
.dataSlide .data.right{right:64px;}
.dataSlide .data>a{display:block;width:256px;height:256px;border-radius: 100%;background-color:#eee;transform: scale(0.5);transition:transform .3s}
.dataSlide .data.swiper-slide-active>a{position:relative;transform: scale(1);z-index:2;;background:#f65d00}
.dataSlide .data.swiper-slide-active>a::before{content:"";display:block;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);width:calc(100% + 22px);height:calc(100% + 22px);background:rgba(246,93,0,0.2);border-radius: 100%;z-index:-2;}

.dataSlide .data .imgArea{display:block;width:auto;height:66px;padding-top:36px;transition:.3s}
.dataSlide .data1 .imgArea{background:url(../../images/main/dataIco1.png) no-repeat center bottom}
.dataSlide .data2 .imgArea{background:url(../../images/main/dataIco2.png) no-repeat center bottom}
.dataSlide .data3 .imgArea{background:url(../../images/main/dataIco3.png) no-repeat center bottom}
.dataSlide .data4 .imgArea{background:url(../../images/main/dataIco4.png) no-repeat center bottom}
.dataSlide .data5 .imgArea{background:url(../../images/main/dataIco5.png) no-repeat center bottom}
.dataSlide .data6 .imgArea{background:url(../../images/main/dataIco6.png) no-repeat center bottom}
.dataSlide .data7 .imgArea{background:url(../../images/main/dataIco7.png) no-repeat center bottom}
.dataSlide .data8 .imgArea{background:url(../../images/main/dataIco8.png) no-repeat center bottom}

.dataSlide .data .cnt{display:inline-block;margin-top:20px;color:#292929;font-size:35px;font-family: PretendardEB,sans-serif;}
.dataSlide .data.cSmall .cnt{font-size:28px}
.dataSlide .data .txt{display:table;margin:8px auto 0 auto;color:#1d1d1d;font-size:28px;font-family: PretendardB,sans-serif;}
.dataSlide .data.tSmall .txt{font-size:24px}

.dataSlide .swiper-prev{position: absolute;top:160px;left:0;width:23px;height:20px;background:url(../../images/main/dataPrev.png) no-repeat left center;text-indent: -9999px;cursor:pointer;}
.dataSlide .swiper-next{position: absolute;top:160px;right:0;width:23px;height:20px;background:url(../../images/main/dataNext.png) no-repeat left center;text-indent: -9999px;cursor:pointer;}
.dataSlide .swiper-slide::after{content: "";position: absolute;left: 50%;top: -30px;width: 444px;height: 372px;margin: 0 auto;background:url(../../images/main/activeDot.png) no-repeat center;transform: translateX(-50%) scale(0.5);opacity: 0;transition: .3s;z-index:-3;image-rendering: -webkit-optimize-contrast;}
.dataSlide .swiper-slide-active::after{opacity:1;transform: translateX(-50%) scale(1);transition: transform 0.6s 0.1s cubic-bezier(0.93, -0.03, 0.16, 1.26), opacity 0.6s;}

/* dataSlide active Evt */
.dataSlide .swiper-slide-active.data1 .imgArea{background:url(../../images/main/dataIcoOn1.png) no-repeat center bottom}
.dataSlide .swiper-slide-active.data2 .imgArea{background:url(../../images/main/dataIcoOn2.png) no-repeat center bottom}
.dataSlide .swiper-slide-active.data3 .imgArea{background:url(../../images/main/dataIcoOn3.png) no-repeat center bottom}
.dataSlide .swiper-slide-active.data4 .imgArea{background:url(../../images/main/dataIcoOn4.png) no-repeat center bottom}
.dataSlide .swiper-slide-active.data5 .imgArea{background:url(../../images/main/dataIcoOn5.png) no-repeat center bottom}
.dataSlide .swiper-slide-active.data6 .imgArea{background:url(../../images/main/dataIcoOn6.png) no-repeat center bottom}
.dataSlide .swiper-slide-active.data7 .imgArea{background:url(../../images/main/dataIcoOn7.png) no-repeat center bottom}
.dataSlide .swiper-slide-active.data8 .imgArea{background:url(../../images/main/dataIcoOn8.png) no-repeat center bottom}

.dataSlide .swiper-slide-active.data .cnt{font-size:37px;color:#fff}
.dataSlide .swiper-slide-active.data.cSmall .cnt{font-size:29px}
.dataSlide .swiper-slide-active.data .txt{font-size:16px;color:#fff}

/* quickMenu */
.quickMenu{width:1406px;margin:28px auto 0 auto;}
.quickMenu .inner{padding:0 72px;overflow: hidden;}
.quickSlide .quick{width:auto;text-align: center;}
.quickSlide .quick:not(:last-child){margin-right:56px}
.quickSlide .quick:nth-of-type(4){margin-right:90px}
.quickSlide .quick a{display:block;padding-bottom:6px}
.quickSlide .quick span{display:block}
.quickSlide .quick span.icoArea{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:90px;height:90px;margin:0 auto 12px auto}
.quickSlide .quick.downType span.icoArea{position:relative;background:#fff;border-radius: 30px;}
.quickSlide .quick span.txt{display:inline-block;position:relative;color:#000;font-family: PretendardSB,sans-serif;font-size:16px;text-align: center;}
.quickSlide .quick a span.txt::before{content: '';position: absolute;top:8px;left:0;width:100%;height:15px;background: #f6c006;clip-path: url(#clip);z-index: -1;opacity:0;transition:.3s}
.quickSlide .quick a:hover span.txt::before{opacity:1;}
.quickSlide .quick.downType a:hover span.icoArea{background-color:rgba(0,0,0,0.7)}
.quickSlide .quick.downType a:hover span.icoArea::after{content:"";display:block;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);width:34px;height:34px;background:url(../../images/main/download.png) no-repeat center;}

@media screen and (max-width:1430px){
  .statArea{width:auto;padding:0 24px}
  .chartCont{padding:40px 32px 32px 32px}
  .dataSlide .inner{margin:0 80px}

  .quickMenu{width:auto;padding:0 24px}
  .quickMenu .inner{padding:0}
  .quickMenu .swiper-wrapper{-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center}
  .quickSlide .quick:nth-of-type(4){margin-right:56px}
}
@media screen and (max-width:1340px){
  .quickMenu .inner{margin:0 12px}
  .quickMenu .swiper-wrapper{justify-content: unset}
}
@media screen and (max-width:1280px){
  .dataSlide .inner{margin:0 32px}
}
@media screen and (max-width:1200px){
  .dataSlide .data>a{width:220px;height:220px}
  .dataSlide .swiper-slide::after{width:386px;height:326px;background-size:100% auto;}
  .dataSlide .data .cnt{font-size:31px}
  .dataSlide .data.cSmall .cnt{font-size:23px}
  .dataSlide .data .txt{font-size:25px}
  .dataSlide .data.tSmall .txt{font-size:21px}
  .dataSlide .swiper-slide-active.data.cSmall .cnt{font-size:24px} 
  .dataSlide .swiper-prev, .dataSlide .swiper-next{top:140px}

}
@media screen and (max-width:1024px){
  .contentsW1{padding-top:36px}
  .dataSlide .inner{margin:0;}
  .dataSlide .data{margin:0 40px}
  .dataSlide .data.left{left:auto}
  .dataSlide .data.right{right:auto}
  .dataSlide .swiper-prev, .dataSlide .swiper-next{display:none}
}
@media screen and (max-width:850px){
  .dataSlide .data{margin:0 20px}
}
@media screen and (max-width:767px){
  .contentsW1{padding-bottom:0}
  .chartCont{padding:24px 0}
  .chartTab{margin-bottom:20px}
  .chartTab .inner{padding:0 16px}
  .chartTab .tab:not(:last-child){margin-right:12px}
  .chartTab .tab>a{min-width:120px;height:40px;line-height: 40px;font-size:16px}
  .chartContent .chartTit{padding:0 16px;font-size:16px;margin-bottom:16px}
  .chartContent .chartBox{padding:0 16px}
  .statArea{width:auto;padding:0 8px}

  .dataSlide .inner{padding:56px 0}
  .dataSlide .data{margin:0}
  .dataSlide .data>a{width:200px;height:200px}
  .dataSlide .swiper-slide::after{top:-50px;width:360px;height:302px;background-size:100% auto;}
  .dataSlide .data .imgArea{padding-top:28px}
  .dataSlide .data .cnt{margin-top:16px}
  .dataSlide .data.swiper-slide-active .cnt{margin-top:20px}
  .dataSlide .data .txt{margin-top:3px}
  .dataSlide .data.swiper-slide-active .txt{margin-top:2px}
  .dataSlide .data .cnt{font-size:31px}
  .dataSlide .swiper-slide-active.data .cnt{font-size:28px}
  .dataSlide .data.cSmall .cnt{font-size:23px}
  .dataSlide .data .txt{font-size:25px}
  .dataSlide .data.tSmall .txt{font-size:19px}
  .dataSlide .swiper-slide-active.data.cSmall .cnt{font-size:21px} 
  .dataSlide .swiper-prev, .dataSlide .swiper-next{top:140px}

  .quickMenu{width:auto;padding:0}
  .quickMenu .inner{margin:0;padding:0 20px}
  .quickSlide .quick:not(:last-child){margin-right:28px}
  .quickSlide .quick span.icoArea{width: 65px;height: 65px;margin-bottom:8px}
  .quickSlide .quick span.icoArea img{width:48px}
  .quickSlide .quick.downType span.icoArea{border-radius: 20px;}
  .quickSlide .quick.downType span.icoArea img{width: 36px;}

}
@media screen and (max-width:500px){
  .dataSlide .swiper-slide::after{top:-33px;width:286px;height:242px}
  .dataSlide .data>a{width:170px;height:170px}
  .dataSlide .data .imgArea{height:50px;background-size: auto 54px !important}
  .dataSlide .data .cnt{font-size:24px}
  .dataSlide .data .txt{font-size:21px}
  .dataSlide .data.swiper-slide-active .cnt{margin-top:12px}
  .dataSlide .swiper-slide-active.data.cSmall .cnt{font-size:19px}
  .dataSlide .data.tSmall .txt{font-size:16px}
  .dataSlide .data.cSmall .cnt{font-size:18px}
  
}

/* dataRoom */
.contentsW2{position:relative;z-index:1;overflow: hidden;}
.dataRoom{width:1406px;margin:64px auto 82px auto;}
.dataRoom .tit{margin-bottom:36px;color:#0f0f0f;font-size:45px;font-family: NanumSquareNeoH,sans-serif;text-align: center;letter-spacing: -0.025em;}
.dataTab{margin-bottom:52px}
.dataTab .inner{overflow: hidden;}
.dataTab .inner.swiper-container-initialized{overflow: hidden}
.dataTab .inner .swiper-wrapper{-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center}
.dataTab.add .inner .swiper-wrapper{justify-content: unset}
.dataTab .tab{display:inline-block;width:auto}
.dataTab .tab:not(:last-child){margin-right: 20px;}
.dataTab .tab>a{position:relative;display:block;padding:0 18px;min-width:160px;height:47px;background:#fff;border:1px solid #ddd;border-radius: 30px;color:#393939;font-size:16px;line-height: 45px;font-family: PretendardSB,sans-serif;box-sizing: border-box;text-align: center;}
.dataTab .tab.on>a{color:#fff;background:#393939;border:1px solid #393939;font-family: PretendardSB,sans-serif;box-shadow: none;}
.dataContent{display:none}
.dataContent.on{display:block}
.dataContent>ul{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.dataContent>ul>li{width:450px;padding:24px 19px 28px 19px;background:#fff;border-radius: 20px;box-shadow: -7px 3px 29px 0px rgba(0, 0, 0, 0.07);text-align: center;box-sizing: border-box;}
.dataContent>ul>li .dataTit{margin-bottom:24px;color:#000;font-family: PretendardB,sans-serif;font-size:18px;letter-spacing: -0.025em;}
.dataContent>ul>li .imgArea{margin-bottom:20px;border:1px solid #d2d2d2;border-radius: 25px;overflow: hidden;}
.dataContent>ul>li .imgArea img{display:block;width:100%;}
.dataContent>ul>li .botBtns{text-align: center;}
.dataContent>ul>li .botBtns>a{display:inline-block;min-width:160px;height:47px;padding:0 12px;background:#fff;border:1px solid #ddd;border-radius: 30px;color:#393939;margin:0 4px;font-family: PretendardSB,sans-serif;line-height: 45px;box-sizing: border-box;transition:.3s}
.dataContent>ul>li .botBtns>a:hover{background:#393939;color:#fff}
.dataContent .moreBtnW{margin-top:36px;text-align: center;}
.dataContent .moreBtn{display:inline-block;min-width:200px;height:40px;border-radius: 30px;border:2px solid #3b3b3b;color:#000;font-family: PretendardB,sans-serif;font-size:12px;letter-spacing: 0.075em;line-height:40px;transition:.3s}
.dataContent .moreBtn:hover{background:#3b3b3b;color:#fff}
@media screen and (max-width:1430px){
  .dataRoom{width:auto;padding:0 24px}
  .dataContent>ul>li{width:32%}
  .dataContent>ul>li .botBtns{display:flex;justify-content: space-between;}
  .dataContent>ul>li .botBtns>a{width:100%;min-width:0;box-sizing: border-box;}
}
@media screen and (min-width:768px) and (max-width:1024px){
  .dataContent>ul>li .botBtns{display:block}
  .dataContent>ul>li .botBtns>a{margin:0;height:40px;line-height: 40px;}
  .dataContent>ul>li .botBtns>a:nth-of-type(1){margin-bottom:8px}
}
@media screen and (max-width:767px){
  .dataRoom{width:auto;margin:28px auto 40px auto;padding:0 8px}
  .dataRoom .tit{margin-bottom:20px;font-size:32px}
  .dataTab{margin-bottom:16px}
  .dataTab .tab:not(:last-child){margin-right:12px}
  .dataTab .tab>a{min-width:120px;height:40px;line-height: 40px;font-size:16px}
  .dataContent>ul{display:block}
  .dataContent>ul>li{width:100%}
  .dataContent>ul>li:not(:last-child){margin-bottom:12px}
  .dataContent>ul>li .botBtns>a{height:40px;line-height: 40px;}
  .dataContent .moreBtnW{margin-top:24px}
}

/* notice */
.notice{width:1406px;margin:0 auto 184px auto}
.notice>.tit{margin-bottom:40px;color:#333;font-size:45px;font-family: NanumSquareNeoH,sans-serif;text-align: center;letter-spacing: -0.025em;}
.noticeList{border-top:2px solid #1d1d1d}
.noticeList>li{border-bottom:1px solid #d2d2d2}
.noticeList>li>a{display:block;padding:36px 12px 28px 12px}
.noticeList>li .tit{display:block;margin-bottom:6px;color:#3e3e3e;font-family: PretendardSB,sans-serif;font-size:23px;letter-spacing: -0.025em;}
.noticeList>li .txt{height:44px;margin-bottom:16px;overflow: hidden;color:#a1a1a1;font-family: PretendardM,sans-serif;display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical}
.noticeList>li .date{padding-left:30px;background:url(../../images/main/date.png) no-repeat left center;color:#a1a1a1;font-family: PretendardM,sans-serif;}
.notice .moreBtnW{margin-top:36px;text-align: center;}
.notice .moreBtn{display:inline-block;min-width:200px;height:40px;border-radius: 30px;border:2px solid #3b3b3b;color:#000;font-family: PretendardB,sans-serif;font-size:12px;letter-spacing: 0.075em;line-height:40px;transition:.3s}
.notice .moreBtn:hover{background:#3b3b3b;color:#fff}
@media screen and (max-width:1430px){
  .notice{width:auto;padding:0 24px}
}
@media screen and (max-width:1024px){
  .notice{margin-bottom:50px}
}
@media screen and (max-width:767px){
  .notice{width:auto;padding:0 8px}
  .notice>.tit{margin-bottom:20px;font-size:32px}
  .noticeList>li>a{padding:16px 8px}
  .noticeList>li .tit{margin-bottom:0;font-size:19px}
  .noticeList>li .txt{margin-bottom:8px}
  .notice .moreBtnW{margin-top:24px}
}


/* banner */
.contents5{border-top:1px solid #dadada}
.banner{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:1260px;min-height:80px;margin:0 auto;padding:12px 0;box-sizing: border-box;}
.banner .tit{margin-right:96px;padding-left:36px;background:url(../../images/main/bannerIcon.png) no-repeat left top -1px;color:#616161;font-size:17px;font-family: PretendardM,sans-serif;letter-spacing: -0.0005em;}
.bannerSlideW{position:relative;width:calc(100% - 192px)}
.bannerSlide{display:flex;margin-right:180px;overflow: hidden;}
.bannerSlide .slick-slide{position:relative;width:auto;margin-right:40px;padding-right:48px;}
.bannerSlide .bannerItem{position:relative;float:left;box-sizing: border-box;}
.bannerSlide.slick-initialized .bannerItem{float:none}
.bannerSlide .slick-slide::before{content:"";display:block;position:absolute;top:9px;right:0;width:3px;height:3px;background:#d2d2d2;border-radius: 100%;}
.bannerSlide .bannerItem>a{font-size:16px;font-family: PretendardM,sans-serif;letter-spacing: -0.005em;}
.bannerBtns{position:absolute;top:50%;right:0;transform: translateY(-50%);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.bannerBtns>a:not(:last-child){margin-right:8px}
.bannerBtns .bannerPrev{display:inline-block;width:15px;height:10px;background:url(../../images/main/bannerPrev.png);text-indent: -9999px;}
.bannerBtns .bannerNext{display:inline-block;width:15px;height:10px;background:url(../../images/main/bannerNext.png);text-indent: -9999px;}
.bannerBtns .bannerPause{display:inline-block;width:7px;height:10px;background:url(../../images/main/bannerPause.png) no-repeat;text-indent: -9999px;}
.bannerBtns .bannerPlay{display:none;width:7px;height:10px;background:url(../../images/main/bannerPlay.png) no-repeat;text-indent: -9999px}
.bannerBtns .toggleBtn{display:inline-block;width:14px;height:14px;background:url(../../images/main/bannerAll.png) no-repeat;text-indent: -9999px;}

/* banner 전체보기 */
.bannerSlide.on .bannerItem{display:inline-block}
.bannerSlide.on .bannerItem:not(:last-child){margin-right:20px;padding-right:24px;}
.bannerSlide.on .bannerItem:not(:last-child)::before{content:"";display:block;position:absolute;top:9px;right:0;width:3px;height:3px;background:#d2d2d2;border-radius: 100%;}
.bannerSlide .bannerItem>a{font-size:16px;font-family: PretendardM,sans-serif;letter-spacing: -0.005em;}

@media screen and (max-width:1280px){
  .banner{width:auto;padding:0 24px}
}
@media screen and (max-width:1024px){
  .banner .tit{margin-right: 48px;}
  .bannerSlideW{width:calc(100% - 144px)}
  .bannerSlide{margin-right:100px}
  .bannerSlide .slick-slide{margin-right:20px;padding-right:24px}
}
@media screen and (max-width:767px){
  .banner{display:block;padding:0 8px 12px 8px;min-height:72px}
  .banner .tit{margin:16px 0 10px 0}
  .bannerSlideW{width:100%;}
  .bannerSlide{margin-right:0}
  .bannerBtns{top:-30px;right:auto;left:112px;transform: none;}
}


/* 풍선효과 */
.bolloon1{display:block;position:absolute;top:24%;left:-50px;width:203px;height:203px;border-radius: 100%;background:rgba(246,93,0,0.2);z-index:-1;transition:.3s}
.bolloon2{display:block;position:absolute;top:60%;right:-67px;width:472px;height:472px;border-radius: 100%;background:rgba(246,93,0,0.1);z-index:-1;transition:.3s}
.bolloon3{display:block;position:absolute;top:10%;left:-71px;width:438px;height:438px;border-radius: 100%;background:rgba(246,93,0,0.2);z-index:-1;transition:.3s}
.bolloon4{display:block;position:absolute;top:45%;right:90px;width:166px;height:166px;border-radius: 100%;background:rgba(246,93,0,0.1);z-index:-1;transition:.3s}
.bolloon5{display:block;position:absolute;top:52.5%;right:258px;width:70px;height:70px;border-radius: 100%;background:rgba(246,93,0,0.1);z-index:-1;transition:.3s}

@media screen and (max-width:767px){
  .bolloon2{top:75%;width:200px;height:200px}
  .bolloon3{width:200px;height:200px}
}

/* footer */
#footer{padding:88px 0 72px 0;background:#484848;}
#footer>div{width:1406px;margin:0 auto;}
#footer>div .copy{color:#d4d4d4;font-size:14px}
#footer>div address{color:#d4d4d4;font-size:14px}

@media screen and (max-width:1430px){
    #footer>div{width:100%;padding:0 20px;box-sizing: border-box;}
}
@media screen and (max-width:767px){
    #footer{padding:44px 0 36px 0}
    #footer>div{padding:0 8px}
}

/* fix 버튼 */
.mySearchBtn{position:fixed;top:138px;right:48px;display:block;z-index:10;text-align: center;}
.mySearchBtn .icoArea{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:76px;height:76px;margin-bottom:20px;background: #fff;border-radius: 100%;box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.14)}
.mySearchBtn .icoArea img{width:40px;height:auto;margin:4px 0 0 4px;image-rendering:auto}
.mySearchBtn .txt{color:#0d0d0d;font-family: PretendardEB,sans-serif;}

.evalSys{position:fixed;bottom:126px;right:48px;display:block;z-index:10;text-align: center;transition:.3s;}
.evalSys .icoArea{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:76px;height:76px;background: #474747;border-radius: 100%;box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.14)}
.evalSys .icoArea img{width:34px;height:auto}
.evalSys .tooltip{position:absolute;top:50%;right:86px;transform: translateY(-50%);width:0;height:32px;line-height: 32px;background:#fb6017;color:#fff;border-radius: 20px;text-align: center;box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.21);white-space:nowrap;overflow: hidden;transition:.3s}
.evalSys:hover .tooltip{width:102px}

.statSys{position:fixed;bottom:32px;right:48px;display:block;z-index:10;text-align: center;transition:.3s;}
.statSys .icoArea{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:76px;height:76px;background: #474747;border-radius: 100%;box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.14)}
.statSys .icoArea img{width:30px;height:auto}
.statSys .tooltip{position:absolute;top:50%;right:86px;transform: translateY(-50%);width:0;height:32px;line-height: 32px;background:#fb6017;color:#fff;border-radius: 20px;text-align: center;box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.21);white-space:nowrap;overflow: hidden;transition:.3s}
.statSys:hover .tooltip{width:102px}

.statSys.hide, .evalSys.hide{opacity:0;visibility: hidden;}

@media screen and (max-width:1024px){
  .mySearchBtn, .evalSys, .statSys{right:24px}
}
@media screen and (max-width:1024px){
  .mySearchBtn{top:90px}
  .mySearchBtn, .evalSys, .statSys{right:8px}
}
@media screen and (max-width:767px){
  .mySearchBtn{top:90px}
  .mySearchBtn .icoArea{margin-bottom:4px}
}