@charset "utf-8";

/* header */
#header{position:fixed;top:0;left:0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:100%;height:96px;padding:0 20px;background:#fff;box-shadow: 0 4px 8px rgba(0,0,0,0.1);box-sizing: border-box;transition:height .3s;z-index:30;}

#header #divTopMenu{width:650px;margin-right:160px}
#divTopMenu>ul{font-size:0}
#divTopMenu>ul>li{display:inline-block;width:25%;margin-top:4px;text-align: center;}
#divTopMenu>ul>li>a{display:inline-block;color:#0f0f0f;font-size:21px;font-family: PretendardB,sans-serif;letter-spacing: -0.005em;}
#divTopMenu>ul>li.on>a{color:#f65d00}
#divTopMenu>ul>li .depth2{display:none;position:absolute;top:96px;left:0;width:100%;height:80px;background:#f65d00;transition:top .3s, height .3s}
#divTopMenu>ul>li .depth2>ul{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width:1406px;height:80px;margin:0 auto;text-align: center;font-size:0;transition:height .3s}
#divTopMenu>ul>li .depth2>ul>li{display:inline-block}
#divTopMenu>ul>li .depth2>ul>li:not(:last-child){margin-right:60px}
#divTopMenu>ul>li .depth2>ul>li>a{display:inline-block;color:#fff;font-size:18px;font-family: PretendardB,sans-serif;letter-spacing: -0.005em;}
#divTopMenu>ul>li .depth2>ul>li.on>a{padding:11px 32px;background:#fff;color:#000;border-radius: 15px;}
#divTopMenu>ul>li.on .depth2{display:block}


#header .wholeMenuBtn{display:block;width:26px;height:26px;background:url(../../images/commons/wholeMenuBtn.png) no-repeat}

/* fix */
#divContents{margin-top:132px;transition:margin-top .3s}
@media screen and (min-width:1025px){
    #header.fix{height:75px}
    #divContents.up{margin-top:111px}
    #header.fix #divTopMenu>ul>li .depth2{top:75px}
    #header.fix #divTopMenu>ul>li .depth2{top:75px;height:65px}
    #header.fix #divTopMenu>ul>li .depth2>ul{top:75px;height:65px}
    #divContents.up{margin-top:75px}
}

@media screen and (min-width:1025px) and (max-width:1600px) {
    #header #divTopMenu{margin-right:3%}
}
@media screen and (min-width:1025px) and (max-width:1430px) {
    #divTopMenu>ul>li .depth2>ul{width:100%;padding:0 20px;box-sizing: border-box;}
}
@media screen and (max-width:1024px) {
    #header{height:72px;border-bottom:1px solid #ddd}
    #divTopMenu{display:none}
    #divContents{padding-top:12px}
    #header.fix{height:68px}
    #divContents{margin-top:68px}
}
@media screen and (max-width:767px) {
    #header{padding:0 8px}
    #header .logo img{width:230px;height:auto}
    #header.fix{height:60px}
    #divContents{margin-top:70px}
}


/* divContents */
#divLocation{padding:0 20px;}
#divLocation>ul{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: flex-end;-webkit-box-align: center;-ms-flex-align: center;align-items: center;height: 50px;}
#divLocation>ul>li:not(:last-child){padding-right:30px;margin-right:16px;background:url(../../images/commons/locationArrow.png) no-repeat right center}
#divLocation>ul>li>a.home{display:inline-block;width:36px;height:36px;background:url(../../images/commons/hone.png) no-repeat center #f65d00;border-radius: 100%;text-indent: -9999px;}
#divLocation>ul>li>a{color:#757575;font-size:14px;font-family: PretendardM,sans-serif;}
#divLocation>ul>li>a.currentPage{color:#000;font-family: PretendardB,sans-serif;}

#divTitle{margin: 4px 0 0 0;padding:0 20px;color:#000;font-family: PretendardEB,sans-serif;font-size: 36px;text-align: center;}

.lineTabMenu{margin:20px 0 36px 0}
.lineTabMenu .inner{padding:0 20px;}
.lineTabMenu .inner.swiper-container-initialized {overflow: hidden}
.lineTabMenu .inner .swiper-wrapper{-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center}
.lineTabMenu.add .inner .swiper-wrapper{justify-content: unset}
.lineTabMenu .tab{display:inline-block;width:auto}
.lineTabMenu .tab:not(:last-child){margin-right:32px}
.lineTabMenu .tab>a{position:relative;display:block;padding:0 4px 12px 4px;font-size:20px;letter-spacing: -0.005em;font-family: PretendardB,sans-serif;}
.lineTabMenu .tab.on>a{color:#f65d00}
.lineTabMenu .tab.on>a::after{content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:3px;background:#f65d00;}

#divContent #divTabMenu{margin:-20px 0 32px 0}
#divTabMenu{margin:12px 0 0 0}
#divTabMenu .inner{padding:12px 20px;}
#divTabMenu .inner.swiper-container-initialized {overflow: hidden}
#divTabMenu .inner .swiper-wrapper{-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: center}
#divTabMenu.add .inner .swiper-wrapper{justify-content: unset}
#divTabMenu .tab{display:inline-block;width:auto}
#divTabMenu .tab:not(:last-child){margin-right: 20px;}
#divTabMenu .tab>a{position:relative;display:block;padding:0 18px;min-width:184px;height:45px;background:#fff;border-radius: 30px;color:#000;font-size:16px;line-height: 45px;font-family: PretendardM,sans-serif;box-sizing: border-box;text-align: center;box-shadow: 2px 2px 13px 0px rgba(73, 78, 102, 0.15);}
#divTabMenu .tab.on>a{color:#fff;background:#f65d00;font-family: PretendardB,sans-serif;box-shadow: none;}

.contentInnerTab{margin-bottom:12px}
.contentInnerTab .inner{padding:0px 8px;}
.contentInnerTab .tab{display:inline-block;width:auto}
.contentInnerTab .tab:not(:last-child){margin-right: 20px;}
.contentInnerTab .tab>a{position:relative;display:block;padding:0 18px;min-width:184px;height:45px;background:#fff;border-radius: 30px;color:#000;font-size:16px;line-height: 45px;font-family: PretendardM,sans-serif;box-sizing: border-box;text-align: center;box-shadow: 2px 2px 13px 0px rgba(73, 78, 102, 0.15);}
.contentInnerTab .tab.on>a{color:#fff;background:#f65d00;font-family: PretendardB,sans-serif;box-shadow: none;}


@media screen and (max-width:767px) {
    #divLocation{display:none;padding:0 8px}
    #divTitle{padding:0 8px;font-size:24px}
    #divTabMenu{margin-top:8px}
    #divTabMenu .inner{padding:8px;}
    #divTabMenu .tab>a{min-width:0;height:38px;padding:0 20px;font-size:14px;line-height:38px}
    #divTabMenu .tab:not(:last-child){margin-right:8px}
}

/* divContent */
#divContent{width:1406px;min-height:550px;margin: 32px auto 0 auto;padding-bottom:120px;}
#divContent.marginUp{margin-top:12px !important}

@media screen and (max-width:1430px) {
    #divContent{width:auto;padding:0 20px 120px 20px}
}
@media screen and (max-width:1024px) {
    #divContent{margin-top:20px}
}
@media screen and (max-width:767px) {
    #divContent{margin-top:20px;padding:0 8px 80px 8px;}
}

/* footer */
#footer{padding:88px 0 72px 0;background:#484848;}
#footer>div{width:1406px;margin:0 auto;}
#footer>div .copy{color:#d4d4d4;font-size:14px}
#footer>div address{color:#d4d4d4;font-size:14px}

@media screen and (max-width:1430px) {
    #footer>div{width:100%;padding:0 20px;box-sizing: border-box;}
}
@media screen and (max-width:767px) {
    #footer{padding:44px 0 36px 0}
    #footer>div{padding:0 8px}
}